* {
  font-family: sans-serif;
  text-transform: capitalize;
}

body {
  background-color: #f0f2f5;
}

.login-fb {
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.login-fb .info {
  margin-top: 65px;
  margin-left: 34px;
}

.login-fb .info .image {
  width: 244px;
  margin-bottom: -14px;
  margin-left: -27px;
}

.login-fb .info .image img {
  width: 88%;
}


/******************* form ****************/

form {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;*/
  width: 377px;
  height: fit-content;
  position: relative;
  top: 114px;
  right: -122px;
  border-radius: 14px;
  padding: 10px;
}

form input {
  width: 86%;
  padding: 16px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #ccc;
  margin-top: 13px;
}

form input::placeholder {
  font-size: 17px;
  color: rgb(167, 167, 167);
  font-weight: 300;
}

form input:focus:not(form input[type="submit"]) {
  border: 1px solid #1473ef;
  box-shadow: 0px 0px 2px #1473ef;
}

.valid input[type="email"],
.valid input[type="email"]:focus {
  border: 1px solid #17ce17;
}

form input[type="email"] + .text {
  display: none;
  font-size: 17px;
  width: 93%;
  height: 27px;
  margin-bottom: 0;
}

.error input[type="email"] + .text {
  color: red;
  display: block;
}

.valid input[type="email"] + .text {
  color: #17ce17;
  display: block;
}



form input[type="submit"] {
  background: #1473ef;
  width: 95%;
  color: white;
  font-size: 23px;
  font-weight: bold;
  height: 51px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input[type="submit"]:hover {
  background-color: #116ee8;
  cursor: pointer;
}

form a {
  margin-top: 20px;
  text-decoration: none;
  color: #1b4cfd;
}

form a:hover {
  text-decoration: underline;
}

form .new {
  margin-top: 18px;
  padding-top: 7px;
  border-top: 1px solid #ccc;
  width: 100%;
}

form .new p {
  background: #42b72a;
  color: white;
  padding: 17px 20px;
  border-radius: 7px;
  width: fit-content;
  margin: 14px auto;
}

form .new p:hover {
  background-color: #35a51e;
  cursor: pointer;
}
